<section>

  <div class="breadcrumbs">
    <%= link_to characters_path do %>
        <i class="fa fa-chevron-circle-left" aria-hidden="true"></i>
        <span>All Characters</span>
    <% end %>
  </div>
  <div class="character-show-top">
    <div id="character-bio-left"><img src="<%= @character.image %>" alt="Character image" /></div>
    <div id="character-bio-right">
      <div>
        <div>
          <h2><%= @character.name %></h2>
        </div>
        <img src="http://i.imgur.com/72O1YYR.png" alt="box-end" />
      </div>
      <div>
        <h4><%= @character.affiliation %>  // </h4>
        <h3><%= @character.title %></h3>
      </div>
      <p><%= @character.bio %></p>
    </div>
  </div>

  <div class="appearances-container">
    <h3>Appearances</h3>

    <h2 class="episode-subtitle">The Miniseries</h2>

    <div class="season-container">
      <% @miniseries.each do |episode| %>
        <div class="episode-box">
          <%= link_to episode do %>
            <div></div>
          <% end %>
        </div>
      <% end %>
    </div>

    <h2 class="episode-subtitle">Season One</h2>

    <div class="season-container">
      <% @seasonOne.each do |episode| %>
        <div class="episode-box">
          <%= link_to episode do %>
            <div></div>
          <% end %>
        </div>
      <% end %>
    </div>

  </div>

  <%= link_to 'Edit', edit_character_path(@character) %>

</section>
