<section>

  <div class="breadcrumbs">
    <p><i class="fa fa-chevron-circle-left" aria-hidden="true"></i><%= link_to 'All Characters', characters_path %></p>
  </div>
  <div class="character-show-top">
    <div id="character-bio-left"><img src="<%= @character.image %>" alt="Character image" /></div>
    <div id="character-bio-right">
      <h2><%= @character.name %></h2>
      <h3><%= @character.title %></h3>
      <p><%= @character.bio %></p>
    </div>
  </div>

  <div class="appearances-container">
    <h3>Appearances</h3>

  </div>

  <%= link_to 'Edit', edit_character_path(@character) %>

</section>
