<!DOCTYPE html>
<html>
<head>
  <title>G1</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href='https://fonts.googleapis.com/css?family=Roboto+Condensed:400,300,300italic,400italic,700,700italic|Roboto:300,300italic,400,100,100italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
</head>
<body>

  <nav>
    <%= link_to(welcome_index_path) do %>
      <div id="nav-left">
        <h1>G1</h1>
        <h2>Transformers <br /> Database</h2>
      </div>
    <% end %>
    <div id="nav-right">
      <%= link_to(characters_path) do %>
        <span>Characters</span>
      <% end %>
      <span>Episodes</span>
      <span>About</span>
      <span>Log In</span>
    </div>
  </nav>

<%= yield %>

</body>
</html>
